<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Url" value="XXX"/>
    <add key="TenantId" value="XXX"/>
    <add key="ApiKey" value="XXX"/>
  </appSettings>
</configuration>